body
{
    background-color: rgb(84, 255, 41);
    align-items: center;
}
.player_1_div
{
    background-color: rgba(0, 255, 255, 0.952);
    border-radius: 2cm;
    border-style: groove;
}
.player_2_div
{
    background-color:  rgba(0, 255, 255, 0.952);
    border-radius: 2cm;
    border-style: groove;
}